<html>
<head><title>Liver Patient Analysis</title>
</head>
<body bgcolor="yellow">
<form id="My From">
<h1 style="color:blue"><center>Liver Patient Prediction</center></h1>
<table border="3" align="center">
<tr>
<td>Age:</td>
<td><input type="text" value=""></td>
</tr>
<tr>
<td>Total_Bilirubin:</td>
<td><input type="text" value=""></td>
</tr>
<tr>
<td>Alkaline_Phosphotase:</td>
<td><input type="text" value=""></td>
</tr>
<tr>
<td>Asparate_Aminotransferase:</td>
<td><input type="text" value=""</td>
</tr>
<tr>
<td>Albumin:</td>
<td><input type="text" value=""</td>
</tr>
<tr>
<td>Gender</td>
<td><input type="radio" name="gender" id="Enter 0as male" value="male">Male</td>
<td><input type="radio" name="gender" id="Enter 1 as Female" value="female">Female</td>
</tr>
<tr>
<td>Direct_Bilirubin:</td>
<td><input type="text" value=""</td>
</tr>
<tr>
<td>Alamine_Aminotrasferase:</td>
<td><input type="text" value=""</td>
</tr>
<tr>
<td>Total_Protiens:</td>
<td><input type="text" value=""</td>
</tr>
<tr>
<td>Albumin_and_Globulin_Ratio:</td>
<td><input type="text" value=""</td>
</tr>
<tr><td colspan="2" align="center"><input type="submit" value="Predict"></td></tr>
</table>
</form>
</body>
</html>